@model Lab1.ViewModels.LabModel

@{
    ViewData["Title"] = "Index";
}

<h1>ViewModel</h1>
<h3>First number: @Model.firstRndNum</h3>
<h3>Second number: @Model.secondRndNum</h3>
<h3>Add:</h3>
@Model.firstRndNum + @Model.secondRndNum = @Model.sumResult
<h3>Substract:</h3>
@Model.firstRndNum - @Model.secondRndNum = @Model.subResult
<h3>Multiply:</h3>
@Model.firstRndNum * @Model.secondRndNum = @Model.mulResult
<h3>Divide:</h3>
@Model.firstRndNum / @Model.secondRndNum = @if (Model.divResult == -1)
                                            {
                                                @: Error! 
                                            }
                                            else
                                            {
                                                @Model.divResult
                                            }


